* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;

  background: black;
}
.youtube {
  margin-top: 2rem;
}

.welcome {
  width: 100%;
  height: 400px;
  background-image: url("../Tournament/hero.jpg");
  background-size: cover;
  text-align: left;
  font-size: large;
  height: 30rem;
  border-color: #cecece;
  border-width: 50cm;
  background-size: cover;

  padding-bottom: none;
}
.image-sidebar {
  padding-bottom: 20rem;
  position: absolute;
  top: 0rem;
  left: 50rem;
  margin-right: 2px;
  height: 60rem;
  float: right;
  width: 45%;
  margin-top: 0%;
  box-sizing: border-box;
}
.welcome h1 {
  font-family: "Passion One", cursive;
  font-weight: 75;
  font-size: 50px;
  /* margin-left: 10rem; */
  color: #5500c0;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 6rem;
}
.welcome-text {
  margin-left: 20px;
  width: 50%;
  padding: 20px;
  background-color: none;
  color: white;
  box-sizing: border-box;
  float: left;
  font-size: 15px;
  font-family: "Courgette", cursive;
  text-align: center;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.logo-text-1 {
  padding-top: 30px;
  color: white;
  font-family: "Passion One", cursive;
  font-size: 20px;
}
.logo-text-2 {
  padding-top: 30px;
  padding-left: 5px;
  font-family: "Courgette", cursive;
  font-size: 20px;
  color: #5500c0;
}
a {
  color: #5500c0;
  text-decoration: none;
}
.text {
  width: 650px;
  color: #4953cf;
  font-size: 24px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;

  animation: typeAnim 4s steps(45) 1s,
    blinkCursor 500ms steps(45) infinite normal;
}
@keyframes typeAnim {
  from {
    width: 0;
  }
  to {
    width: 650px;
  }
}
@keyframes blinkCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: transparent;
  }
}

nav {
  background: #0c141f;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;

  border-bottom: #5500c0 2px solid;
}
nav .logo {
  margin: none;
  width: 5rem;
  height: 5rem;
  box-sizing: border-box;
  float: center;
  margin-left: 4rem;
}
nav ul {
  display: flex;
  margin: 1em auto;
  text-align: right;
  padding-top: 0.5rem;
  font-family: "Passion One", cursive;
  padding-left: 400px;
  font-size: 20px;
}
nav ul li {
  list-style: none;
  margin: 0.4rem 0.4rem;
  padding-left: 50px;
}
nav ul li .nav-links {
  text-decoration: none;
  color: #5500c0;
  transition: 250ms ease-in-out;
  text-align: right;
}
nav ul li .nav-links:hover {
  color: #5500c0;
}
nav ul li .nav-active {
  color: white;
}

.bg-container {
  width: 100%;
  background-color: #0c141f;
  height: 500px;
  background-size: cover;
}
.welcome .haro {
  background-color: rgba(0, 0, 0, 0.651);
  height: 100%;
  margin-top: none;
}

.bg-container .hero .inner-container .inner-content {
  text-align: center;
}
.bg-container .hero .inner-container .inner-content .main-heading {
  padding: 1em;
}
.bg-container .hero .inner-container .inner-content .cta-container {
  margin: 2rem;
}
.bg-container .hero .inner-container .inner-content .cta-container button {
  background: none;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 0.9rem;

  font-size: 1.2rem;
}
.bg-container .hero .inner-container .main-heading {
  color: #5500c0;
}
.sub-heading {
  color: white;
}
.inner-content {
  color: #5500c0;
  padding-top: 3rem;
}
.inner-content-text {
  color: #fff;
  padding-top: 2rem;
}
.bg-container
  .hero
  .inner-container
  .inner-content
  .cta-container
  button:hover {
  cursor: pointer;
}
.bg-container
  .hero
  .inner-container
  .inner-content
  .cta-container
  .btn-cta-primary {
  background-color: #5500c0;
  margin-top: 5rem;
  transition: 250ms ease-in-out;
}
.bg-container
  .hero
  .inner-container
  .inner-content
  .cta-container
  .btn-cta-primary:hover {
  color: white;
  background-color: #044242;
}
.bg-container
  .hero
  .inner-container
  .inner-content
  .cta-container
  .btn-cta-secondary:hover {
  color: white;
}
.bg-container
  .hero
  .inner-container
  .inner-content
  .cta-container
  .btn-cta-secondary {
  border: #5500c0 1px solid;
  padding: 0.7rem 1rem;
}
.bg-container .hero .inner-container .socials-container {
  text-align: center;
  margin: 1rem auto;
}
.bg-container .hero .inner-container .socials-container a {
  color: #fff;
}
.bg-container .hero .inner-container .socials-container a i {
  font-size: 2rem;
  color: #5500c0;
  border-radius: 100px;
}
.bg-container .hero .inner-container .socials-container a i:hover {
  color: #044242;
}
.bg-container .hero .inner-container .socials-container .socials {
  padding: 1rem;
}
.bg-container .hero .inner-container .socials-container .socials li {
  display: inline;
  list-style: none;
  margin: 2rem 1rem;
}
.section {
  margin: 2em;
}
.section article {
  margin: 1em 0;
}
.section article h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  color: #31af46;
  text-align: center;
  margin-bottom: 1em;
}
.section .article-instructions p {
  padding: 1rem 0.5rem;
  margin: 0.8rem;
}
.section .article-instructions ul {
  padding: 1rem 0.5rem;
  margin: 0.8rem;
}
.section .article-instructions ul li {
  padding: 0.3rem;
  list-style: none;
}
.form {
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/
}
.form div {
  padding: 0.6rem;
  font-size: 1.2rem;
}
.form div label {
  padding-bottom: 1em;
  display: block;
  color: #31af46;
}
.form div input {
  padding: 10px;
  font-size: 1.2rem;
  width: 60%;
}
.form div input:focus {
  outline: none;
}
.form div .form-submit {
  background: none;
  border: none;
  color: #fff;
  background-color: #31af46;
  align-content: center;
  padding: 1em;
  margin-top: 5em;
  font-size: 15px;
  width: 100%;
  margin-bottom: 5em;
  border-radius: 5px;
}
.form div .form-submit:hover {
  cursor: pointer;
}
.main-footer {
  background-color: orange;
  text-align: center;
  padding: 20px;
  color: black;
  margin-bottom: 5em;
  margin-top: 5em;
}
